body {
  margin: 0;
  padding: 0;
}


.jumbotron {
  padding-top: 2rem;
  background-image: url(image/bender\ 1\ copy.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 600px;
}

.jumbotron p {
  padding-top: 2rem;
  font-size: 25px;
}

.container {
  width: 100%;
}

.highlight {
  background-color: rgba(0, 238, 255, 0.829);
  font-weight: bold;
  text-align: left;
}
